.menu {
    background-color: rgb(95, 13, 13);
    height: 21px;
    color: mintcream;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
}

.country{
    display: inline-block;
    width: 150px;
    cursor: pointer;
    height: 20px;
}

.selected-country {
    background-color: saddlebrown;
    
}

.cities-hidden {
    display: none;
    
}

.city:hover {
    
    background-color: rgb(116, 49, 5);
   
}

.city{
    display: block;
    color: aliceblue;
    text-decoration: none;
    
}

.cities {
    position: absolute;
    width: 150px;
    cursor: pointer;
    background-color: rgb(97, 32, 1);
    color: aliceblue;
    
    
}

.Menu-menu{
    position: fixed;
    width: 100px;
    background-color: rgb(95, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    font-size: 16px;
    color: aliceblue;
    z-index: 1;
    height: 20px;
}

.Menu-nav {
    height: 100%;
    position: fixed;
    width: 100px;
    background-color: rgba(165, 143, 100, 0.534);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    padding-top: 30px;
    font-size: 16px;
  }